{lib_dirs,["deps"]}.
{src_dirs, ["src", "test"]}.
{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
    {cowboy, "0.6.*", {git, "git://github.com/extend/cowboy",{tag, "0.6.0"}}},
    {nitrogen_core, ".*", {git, "git://github.com/nitrogen/nitrogen_core.git", "HEAD"}},
    {nprocreg,      ".*", {git, "git://github.com/nitrogen/nprocreg", "HEAD"}},
    {simple_bridge, ".*", {git, "git://github.com/nitrogen/simple_bridge", "HEAD"}},
    {sync,          ".*", {git, "git://github.com/rustyio/sync", "HEAD"}},
    {webmachine, ".*", {git, "git://github.com/basho/webmachine", "HEAD"}},
    {nitrogen_elements, ".*", {git, "git@github.com:RomanShestakov/nitrogen_elements.git", "HEAD"}}
]}.
{post_hooks, [{compile, "mkdir -p ./priv/static"},
	      {compile, "cp ./src/nitrogen_elements_examples.config ./ebin/nitrogen_elements_examples.config"},
	      {compile, "cp -R ./deps/nitrogen_core/www priv/static/nitrogen"}
	     ]}.
