{lib_dirs,["deps"]}.
{src_dirs, ["src", "test"]}.
{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
    {simple_bridge, ".*", {git, "git://github.com/RomanShestakov/simple_bridge", "HEAD"}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy", "HEAD"}},
    {nitrogen_core, ".*", {git, "git://github.com/nitrogen/nitrogen_core.git", "HEAD"}},
    {nprocreg,      ".*", {git, "git://github.com/nitrogen/nprocreg", "HEAD"}},
    {sync,          ".*", {git, "git://github.com/rustyio/sync", "HEAD"}},
    {nitrogen_elements, "0.2.1", {git, "git://github.com/RomanShestakov/nitrogen_elements.git", "HEAD"}}
]}.
{post_hooks, [{compile, "mkdir -p ./priv/static"},
	      {compile, "cp ./src/nitrogen_elements_examples.config ./ebin/nitrogen_elements_examples.config"},
	      {compile, "cp -R ./deps/nitrogen_core/www priv/static/nitrogen"}
	     ]}.
